---
title: My Portfolio
layout: default
bodyClass: page-home
---

<div class="intro pb-4 mt-6">
  <div class="container">
    <h1>Robert Genetti</h1>
    <p>{{ site.data.contact.intro }}</p>
  </div>
</div>

<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
      <div class="call-email"><strong>Email: </strong>
        <a href="mailto:{{ site.data.contact.email }}">
          {{ site.data.contact.email }}
        </a>
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="{{site.baseurl}}/contact" class="button">Contact</a>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3 mt-2">Projects</h2>
    </div>
    {% for project in site.projects %}
    <div class="col-12 col-md-4 mb-6">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ project.url }}">{{ project.title }}</a>
          </h2>
          {{ project.content | markdownify | strip_html | truncate: 125 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/projects">View All Projects</a>
    </div>
  </div>
</div>

<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4 mt-2">Interests</h2>
    </div>
    {% for interest in site.data.interests %}
    <div class="col-12 col-md-6 col-lg-4 mb-5">
      <div class="feature">
        {% if interest.image %}<div class="feature-image"><img alt="{{ interest.title }} logo"
            src="{{ interest.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ interest.title }}</h2>
        <div class="feature-content">{{ interest.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>